body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 245);
    text-align: center;
}
#abbTitle{
    opacity: 80%;
}
.buttonChangeMode{
    margin-top: 10px;
    background:none;
    border: none;
}
#title{
    font-size:300%;
    text-align: center;
}
#generate{
    background-color: rgb(255, 255, 225);
    color: rgb(50, 50, 50);
    border-radius: 15px;
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#special{
    font-style: italic;
}
#credit{
    opacity: 50%;
    text-align: start;
}